.dark {
  background-color: #121212;
  color: white;
}

.box {
  display: inline-block;
  border: solid 4px black;
  text-align: center;
  padding: 40px;
  max-width: 100px;
  cursor: pointer;
}

section {
  border: solid 2px black;
  padding: 12px;
  margin-bottom: 18px;
}

#username-validation {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

header {
  display: flex ;
  justify-content: space-between;
  margin: 12px;
}

